DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=postgres
DB_SSLMODE=disable

AUTHORIZATION_SERVICE_URL=http://localhost:8084
DEFAULT_LOCALE=az

PORT=8090

CORS_ALLOWED_ORIGINS=http://localhost:5173

LOG_SERVICE_URL=http://localhost:8091
