DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=postgres
DB_SSLMODE=disable

JWT_SECRET=changeme
JWT_TTL_MINUTES=60

PORT=8081
NOTIFICATION_SERVICE_URL=http://localhost:8083
